* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
}
.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}